.text-white {
    color: aliceblue, i !important;
    ;
}

.bg-primary {
    background-color: #007bff !important;
}

.card-header {

    padding: 75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card-header :first-child {
    border-radius: calc(.25rem-1px) calc(.25rem - 1px) 0 0;
}